@import "src/styles/globals.css";

.tag {
  composes: text from "src/components/text/text.module.scss";
  composes: size--xs from "src/components/text/text.module.scss";
  composes: weight--bold from "src/components/text/text.module.scss";
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
}

.level--success {
  background-color: var(--success--500);
  color: var(--base--100);
}

.level--danger {
  background-color: var(--danger--500);
  color: var(--base--100);
}

.level--warning {
  background-color: var(--warning--500);
  color: var(--base--900);
}

.level--info {
  background-color: var(--info--500);
  color: var(--base--100)
}
