@import "src/styles/globals.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: text;
}

.label {
  composes: text from "src/components/text/text.module.css";
  composes: size--base from "src/components/text/text.module.css";
  composes: weight--normal from "src/components/text/text.module.css";
  position: absolute;
  top: 1.875rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
  transition: transform var(--transition-timing-function) var(--transition-duration);
  transform-origin: 0 0;
  color: var(--base--400);
  cursor: text;
  pointer-events: none;
}

.required {
  color: currentColor;
}

.input {
  composes: text from "../text/text.module.scss";
  composes: size--base from "../text/text.module.scss";
  composes: weight--medium from "../text/text.module.scss";
  padding: 1.5rem 0.75rem 0.5rem 0.75rem;
  border: 1px solid var(--base--300);
  border-radius: var(--border-radius);
  transition: border-color var(--transition-timing-function) var(--transition-duration);
}

.input:hover {
  border-color: var(--base--400);
}

.input:focus {
  outline-color: var(--base--500);
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label
 {
  transform: translateY(-100%) scale(0.9);
  pointer-events: all;
}