@import "./_fonts.css";
@import "./_media-queries.css";

:root {
  /* Colors */
  --white: #ffffff;

  --primary--100: #FFF7F4;
  --primary--200: #FFEFE9;
  --primary--300: #FFE4DE;
  --primary--400: #FFDAD6;
  --primary--500: #FFC9C9;
  --primary--600: #DB9299;
  --primary--700: #B76573;
  --primary--800: #934055;
  --primary--900: #7A2643;

  --success--100: #F2FAC8;
  --success--200: #E2F594;
  --success--300: #C4E35B;
  --success--400: #A1C732;
  --success--500: #75A301;
  --success--600: #608C00;
  --success--700: #4D7500;
  --success--800: #3B5E00;
  --success--900: #2E4E00;

  --info--100: #CAFCF9;
  --info--200: #96F8FA;
  --info--300: #60E3F0;
  --info--400: #38C6E1;
  --info--500: #009ECE;
  --info--600: #007BB1;
  --info--700: #005C94;
  --info--800: #004177;
  --info--900: #002F62;

  --warning--100: #FDF6CB;
  --warning--200: #FCEA97;
  --warning--300: #F8D963;
  --warning--400: #F2C73C;
  --warning--500: #EAAC00;
  --warning--600: #EAAC00;
  --warning--700: #A87200;
  --warning--800: #875800;
  --warning--900: #704600;

  --danger--100: #FBE0D2;
  --danger--200: #F7BCA6;
  --danger--300: #E98B76;
  --danger--400: #D35E51;
  --danger--500: #B72321;
  --danger--600: #9D1821;
  --danger--700: #831022;
  --danger--800: #6A0A21;
  --danger--900: #570621;

  --base--100: #F8D7D6;
  --base--200: #F1AFB2;
  --base--300: #D77E8B;
  --base--400: #AF546B;
  --base--500: #7A2643;
  --base--600: #681B3E;
  --base--700: #571338;
  --base--800: #460C31;
  --base--900: #3A072D;

  /* States */
  --background-color--hover: var(--primary--100);
  --border-color--focus: var(--base--600);

  /* UI Elements */
  --navigation-item--background-color--hover: var(--background-color--hover);

  --button--background-color: var(--primary--900);
  --button--background-color--hover: var(--primary--800);
  --button--color: var(--base--100);
  --button--border-color--focus: var(--base--100);

  --social-button--background-color--hover: var(--background-color--hover);

  --border-radius: 0.25rem;

  /* Transitions */
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 150ms;

  /* Max Width */
  --max-width--xs: 20rem; /* 320px */
  --max-width--sm: 24rem; /* 384px */
  --max-width--md: 28rem; /* 448px */
  --max-width--lg: 32rem; /* 512px */
  --max-width--xl: 36rem; /* 576px */
  --max-width--2xl: 42rem; /* 672px */
  --max-width--3xl: 48rem; /* 768px */
  --max-width--4xl: 56rem; /* 896px */
  --max-width--5xl: 64rem; /* 1024px */
  --max-width--6xl: 72rem; /* 1152px */
  --max-width--7xl: 80rem; /* 1280px */



  --text-color--dark: var(--base--900);
  --text-color--light: var(--base--100);

  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 0.75rem; /* 12px */
  --spacing-m: 1rem; /* 16px */
  --spacing-xl: 1.25rem; /* 20px */
  --spacing-2xl: 1.5rem; /* 24px */

  --page-container--max-width: var(--max-width--4xl);
  --page-container--padding: var(--spacing-2xl);
}

* {
  font-family: var(--font-family--body), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--text--font-size--base);
  line-height: var(--text--line-height--base);
  color: var(--text-color);
  text-wrap: balance;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
}

